<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- name of provider -->
    <dubbo:application name="dubbo-greeting-provider"/>

    <!-- registry protocol and address -->
    <dubbo:registry protocol="zookeeper"
                    address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183"/>

    <!-- transmission and serialization protocol and port -->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!-- service to provide -->
    <dubbo:service interface="com.andycugb.dubbo.IGreetingService"
                   ref="greetingService" timeout="1000" version="1.0.0" retries="0">
    </dubbo:service>

</beans>
